.home{
    max-width: 100vw;
    max-height: 100vh;
    margin: 20px;
    /* overflow: scroll; */
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
@media (max-width: 768px) {
    .video-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    } 
}