.single-video-div{
    /* width: 45vw; */
    background: rgba(218, 238, 237, 0.54);
    border-radius: 17px;
    margin: 10px;
}
.video-headline{
    font-family: Poppins;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    
    color: #000000;
    text-align: left;
    justify-self: flex-start;
}
.video-description{
    font-family: Poppins;
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;

color: #000000;
}
.video-date{
    font-family: Poppins;
    font-style: normal;
font-weight: normal;
font-size: 12px;

/* identical to box height, or 160% */

align-self: flex-end;
margin: 0px;

color: rgba(0, 0, 0, 0.8);
}


.react-player{
    /* margin: 20px !important; */
    width: fit-content !important;
    height: fit-content !important;
    border-style: solid !important;
}
.headline-date-view{
    margin: 20px ;
    display: flex;
    justify-content:space-between;
    /* align-items: center;
    align-content: flex-start; */
}
.video-description{
    margin: 10px 20px 10px 20px ;
    /* display: flex; */
    justify-content:space-between;
    align-items: center;
    align-content: flex-start;
    text-align: left;
}
.single-comment{
    display: flex;
   
    background: #F9F9F9;
border-radius: 12px;
margin: 10px;
}
.comment{
 
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;

color: #000000;
margin: 0px 0px 0px 10px !important;
}
.comment-date{

    font-style: normal;
font-weight: 500;
font-size: 13px;
align-self: flex-start;
margin: 0px;
color: #000000;


}
.avatar{
    width: 45px;
height: 45px;
align-self: center;
}
.video-views{
    font: Poppins;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;

letter-spacing: -0.015em;

color: #000000;
align-self: flex-end;
margin:0px 5px 0px 0px;
}
.username-date{
    display: flex;
    /* justify-content: space-between; */
}
.add-comment{
    display: flex;
    padding: 10px;
}
.like-show{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.video-username{
    font-family: Poppins;
    font-style: bold;
    font-weight: 700;
    font-size: 19px;
    line-height: 34px;
    margin: 0px;
    color: #000000;
    text-align: left;
}
.views-date{
    display: flex;
}
.like{
    margin: 0 5px 0 0;
    font: Poppins;
    font-style: normal;
font-size: 16px;
line-height: 36px;

letter-spacing: -0.015em;
align-self:center;
color: #000000;
}
.username{
    margin: 0 5px 0 10px;
    font: Poppins;
    font-style: normal;
font-size: 14px;

color: #000000;
}